%section
  %div
    %h2 REGISTRO DEL FALLECIDO
    .walker-form
      %div
        %label Nombres
        %input{type: 'text'}
      %div
        %label Apellidos
        %input{type: 'text'}
      %div
        %label Fecha de nacimiento
        %input{type: 'date'}
      %div
        %label Fecha de fallecimiento
        %input{type: 'date'}
      %div
        %label Sector
        %select
          %option Sector A
          %option Sector B
      .button-group
        %button.btn GUARDAR
        %button.btn.btn-reverse CANCELAR
