<h2 class='subtitulos'>REGISTRO DEL FALLECIDO</h2>
 <div class="container" >
 			<form class="contact_form" action="" method="post" name="contact_form">
 			<ul>
    			<li>
         			<span class="required_notification"></span>
   				</li>
    			<li>
       			<label for="name">Nombres:</label>
				<input type="text" name="name" placeholder="Jose ALejandro"/>
   				</li>
   				<li>
       			<label for="name">Apellidos:</label>
				<input type="text" name="apellidos" placeholder="Jayo Gómez"/>
				<li>
				<label for="name">Fecha de Nacimiento:</label>
				<input type="date"/>
				</li>
				<li>
				<label for="name">Fecha de fallecimiento:</label>
				<input type="date"/>
				</li>
				<li>
				<label for="name">Nombre del Sector	:</label>
				<input type="text" name="apellidos" placeholder="Jayo Gómez"/>
				</li>
				<li>
				<label for="name">Tipo de Sepultura:</label>
				<input type="text" name="apellidos" placeholder="Jayo Gómez"/>
				</li>
				<li>
				<label for="name">Obituario:</label>
				<input type="text" name="apellidos" placeholder="Jayo Gómez"/>
				</li>
				<li>
    			<button class="submit" type="submit">Guardar</button>
    			<button class="submit" type="submit">Cancelar</button>
				</li>
			</ul>
			</form>
 </div>