.background
%section
  .medium-container.slider
    %h3 VISIÓN
    %p Brindamos asistencias de sepelio  a las familias, acompañándolas desde nuestra fe católica, con espíritu de oración, reverencia  y esperanza en la Resurrección.
%section
  %iframe{:allowfullscreen => "", :frameborder => "0", :src => "https://www.youtube.com/embed/8p4ckjIThbc?rel=0"}
