%section.max-container
  .necesity-type
    %h2 TIPOS DE NECESIDAD
    .content.card
      %h3.no-margin Necesidad Inmediata
      %p.no-margin Como Camposanto Católico cumplimos con la misión de llevar apoyo espiritual y humano a las familias que afrontan la pérdida de un ser querido de forma inesperada. Ponemos a su disposición diversos planes de necesidad inmediata brindándole una atención personalizada, adecuada y oportuna. Nos comprometemos con Usted y su familia a ofrecerle la seguridad y tranquilidad que requieren para cumplir su promesa de unión familiar.
    .content.card
      %h3.no-margin Necesidad Futura
      %p.no-margin El Parque del Recuerdo pone a su disposición asistencias previsionales creadas para superar la pérdida de un ser querido con la finalidad que usted y su familia tengan la tranquilidad que merecen. Una decisión anticipada es un acto de amor, responsabilidad y preocupación genuino. Es haber decidido juntos en familia, con la seguridad de que cumplirán su  promesa de unión familiar.
  .aditional-info
    %h2 ASISTENCIAS ADICIONALES
    .content.card
      %h3.no-margin Asistencia de Sepultura
      %p.no-margin Parque del Recuerdo busca brindar a las familias la oportunidad de cumplir su promesa de unión familiar, manteniendo el lazo con aquellos seres queridos que partieron a la casa de Dios.
    .content.card
      %h3.no-margin Asistencia de Sepelio
      %ul.no-margin
        %li Urna de concreto
        %li Servicio de entierro
        %li Ceremonia de inhumación
        %li Responso
        %li Protocolo de recepción y zona de entierro
        %li Descensor para urna y ataúd
        %li Oldos, sillas y alfombra
    .content.card
      %h3.no-margin Traslados
      %p.no-margin Parque del Recuerdo se preocupa en mantener unidad de la familia ofreciendo asistencias especiales para traslados desde cualquier cementerio local hacia nuestro Camposanto; brindándole así la posibilidad de reunir a sus seres queridos.
%section
  .contact
    %h2 CONTÁCTENOS
    .contact-form
      %div
        %label Nombres y apellidos
        %input{type: 'text'}
      %div
        %label Correo electrónico
        %input{type: 'email'}
      %div
        %label Mensaje
        %textarea
      %button.btn ENVIAR
