
 <h2 class='subtitulos'>TIPOS DE NECESIDAD</h2>
 	<div class="container">
 		<div class="containertwo">
 			<div class="title">
 			 		<p>Necesidad Inmediata</p>
 			</div>
 			<div class="items">
 			 		<p>Como Camposanto Católico cumplimos con la misión de llevar apoyo espiritual y humano a las familias que afrontan la pérdida de un ser querido de forma inesperada.
					Ponemos a su disposición diversos planes de necesidad inmediata brindándole una atención personalizada, adecuada y oportuna. Nos comprometemos con Usted y su familia a ofrecerle la seguridad y tranquilidad que requieren para cumplir su promesa de unión familiar. </p>
 			</div>
 		</div>
 		<div class="containertwo">
			<div class="title">
 			 		<p>Necesidad Futura</p>
 			</div> 	
 			<div class="items">
 			 		<p>El Parque del Recuerdo pone a su disposición asistencias previsionales creadas para superar la pérdida de un ser querido con la finalidad que usted y su familia tengan la tranquilidad que merecen.
					Una decisión anticipada es un acto de amor, responsabilidad y preocupación genuino. Es haber decidido juntos en familia, con la seguridad de que cumplirán su  promesa de unión familiar. </p>
 			</div>	
 		</div>
 	</div>
 	<br>
 	<br>
 <h2 class='subtitulos'>ASISTENCIAS ADICIONALES</h2>
 <div class="container">
 		<div class="containertwo">
 			<div class="title">
 			 		<p>Asistencia de Sepultura</p>
 			</div>
 			<div class="items">
 			 		<p>Parque del Recuerdo busca brindar a las familias la oportunidad de cumplir su promesa de unión familiar, manteniendo el lazo con aquellos seres queridos que partieron a la casa de Dios.</p>
 			</div>
 		</div>
 		<div class="containertwo">
			<div class="title">
 			 		<p>Asistencia de Sepelio</p>
 			</div> 	
 			<div class="items">
 			 	<ul>
 			 		<li type="disc">Urna de concreto.</li>
 			 		<li type="disc">Servicio de entierro.</li>
 			 		<li type="disc">Ceremonia de inhumación.</li>
 			 		<li type="disc">Responso.</li>
 			 		<li type="disc">Protocolo de recepción y zona de entierro.</li>
 			 		<li type="disc">Descensor para urna y ataúd.</li>
 			 		<li type="disc">Oldos, sillas y alfombra.</li>
				</ul>
 			</div>	
 		</div>
 		<div class="containertwo">
			<div class="title">
 			 		<p>Traslados</p>
 			</div> 	
 			<div class="items">
 			 		<p> Parque del Recuerdo se preocupa en mantener unidad de la familia ofreciendo asistencias especiales para traslados desde cualquier cementerio local hacia nuestro Camposanto; brindándole así la posibilidad de reunir a sus seres queridos.</p>
 			</div>	
 		</div>
 	</div>
 	<br>
 	<br>
 	<br>
 <h2 class='subtitulos'>CONTÁCTENOS</h2>
 <div class="container">
 			<form class="contact_form" action="" method="post" name="contact_form">
 			<ul>
    			<li>
         			<span class="required_notification"></span>
   				</li>
    			<li>
       			<label for="name">Nombres y Apellidos:</label>
				<input type="text" name="name" placeholder="Jose ALejandro Jayo Gómez"/>
   				</li>
   				<li>
   			 	<label for="email">Correo Electronico:</label>
				<input type="text" name="email" placeholder="acuario_jose_96@example.com" />
    			<span class="form_hint"></span>
				</li>
				<li>
    				<label for="message">Mensaje:</label>
    				<textarea name="message" cols="40" rows="6" > </textarea>
    			</li>
				<li>
    			<button class="submit" type="submit">Enviar</button>
				</li>
			</ul>
			</form>
 </div>