
 <h3 class='subtitulos'>TIPOS DE NECESIDAD</h3>
 	<div class="container">
 		<div class="containertwo">
 			<div class="title">
 			 		<p>Necesidad Inmediata</p>
 			</div>
 			<div class="items">
 			 		<p>Como Camposanto Católico cumplimos con la misión de llevar apoyo espiritual y humano a las familias que afrontan la pérdida de un ser querido de forma inesperada.
					Ponemos a su disposición diversos planes de necesidad inmediata brindándole una atención personalizada, adecuada y oportuna. Nos comprometemos con Usted y su familia a ofrecerle la seguridad y tranquilidad que requieren para cumplir su promesa de unión familiar. </p>
 			</div>
 		</div>
 		<div class="containertwo">
			<div class="title">
 			 		<p>Necesidad Futura</p>
 			</div> 	
 			<div class="items">
 			 		<p>El Parque del Recuerdo pone a su disposición asistencias previsionales creadas para superar la pérdida de un ser querido con la finalidad que usted y su familia tengan la tranquilidad que merecen.
					Una decisión anticipada es un acto de amor, responsabilidad y preocupación genuino. Es haber decidido juntos en familia, con la seguridad de que cumplirán su  promesa de unión familiar. </p>
 			</div>	
 		</div>
 	</div>
 <h3 class='subtitulos'>ASISTENCIAS ADICIONALES</h3>
 <h3 class='subtitulos'>CONTÁCTENOS</h3>
  <div>
 	
 </div>