%section
  %h2 OBITUARIO
  .obituario
    %table
      %thead
        %tr
          %th Datos del beneficiario
          %th Sector
      %tbody
        - @people.each do |person|
          %tr
            %td= "#{person.nombres} #{person.apellidos}"
            %td= person.sector.nombre
