<!--
<body>
	<div class=NUBE12>
		<meta charset="utf-8" />
		<title>Obituario del Dia</title>
		<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
		<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
		<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
		<script>
			$(function() {
				$("#fecha").datepicker(
				{
					dateFormat: "dd/mm/yy",
					dayNames: [ "Domingo", "Lunes", "Martes", "Miercoles", "Jueves", "Viernes", "Sabado" ],
					dayNamesMin: [ "Do", "Lu", "Ma", "Mi", "Ju", "Vi", "Sa" ],
					firstDay: 1,
					gotoCurrent: true,
					monthNames: [ "Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Deciembre" ]
				}
				);
			});
		</script>
		<style>
			#fecha {
				position: absolute;
				width:100px;
				justify-content: center;
				text-align:center; }
			</style>

			<h1>Obituario del Dia</h1>
			<form>
				<p>Fecha: <input type="text" name="fecha" id="fecha" value=""></p>
				<p>Buscar por DNI: <input type="text" ></p>
			</form>
		</div>
		<br><br><br><br>

		<form name="formDia" method="post" action="servicios-del-dia.aspx" id="formDia">
			<div>
				<input name="__EVENTTARGET" id="__EVENTTARGET" value="" type="hidden">
				<input name="__EVENTARGUMENT" id="__EVENTARGUMENT" value="" type="hidden">
				<input name="__LASTFOCUS" id="__LASTFOCUS" value="" type="hidden">
				<input name="__VIEWSTATE" id="__VIEWSTATE" value="/wEPDwUKLTg4NjI4NzY1OA9kFgICAQ9kFgQCAw8QDxYGHg5EYXRhVmFsdWVGaWVsZAUOY29kX2NlbWVudGVyaW8eDURhdGFUZXh0RmllbGQFDmRzY19jZW1lbnRlcmlvHgtfIURhdGFCb3VuZGdkEBUCDUNGIC0gSFVBQ0hJUEEKQ0YgLSBOT1JURRUCAUgBThQrAwJnZ2RkAgcPPCsADQBkGAEFCGd2X3NlZGVzD2dk6jgT6KvN9Nvo5HRJ5K5gT8LYJXY=" type="hidden">
			</div>

			<script type="text/javascript">
//<![CDATA[
var theForm = document.forms['formDia'];
if (!theForm) {
	theForm = document.formDia;
}
function __doPostBack(eventTarget, eventArgument) {
	if (!theForm.onsubmit || (theForm.onsubmit() != false)) {
		theForm.__EVENTTARGET.value = eventTarget;
		theForm.__EVENTARGUMENT.value = eventArgument;
		theForm.submit();
	}
}
//]]>
</script>
-->


<div id="dia" class="mi_ocu" style="opacity: 1;">
		<div class=NUBE12>
		<meta charset="utf-8" />
		<title>Obituario del Dia</title>
		<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
		<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
		<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
		<script>
			$(function() {
				$("#fecha").datepicker(
				{
					dateFormat: "dd/mm/yy",
					dayNames: [ "Domingo", "Lunes", "Martes", "Miercoles", "Jueves", "Viernes", "Sabado" ],
					dayNamesMin: [ "Do", "Lu", "Ma", "Mi", "Ju", "Vi", "Sa" ],
					firstDay: 1,
					gotoCurrent: true,
					monthNames: [ "Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Deciembre" ]
				}
				);
			});
		</script>
		<style>
			#fecha {
				position: absolute;
				width:100px;
				justify-content: center;
				text-align:center; }
			</style>

			<h1>Obituario del Dia</h1>
			<form>
				<p>Fecha: <input type="text" name="fecha" id="fecha" value=""></p>
				<p>Buscar por DNI: <input type="text" ></p>
			</form>
		</div>
		<br><br><br><br>

		<form name="formDia" method="post" action="servicios-del-dia.aspx" id="formDia">
			<div>
				<input name="__EVENTTARGET" id="__EVENTTARGET" value="" type="hidden">
				<input name="__EVENTARGUMENT" id="__EVENTARGUMENT" value="" type="hidden">
				<input name="__LASTFOCUS" id="__LASTFOCUS" value="" type="hidden">
				<input name="__VIEWSTATE" id="__VIEWSTATE" value="/wEPDwUKLTg4NjI4NzY1OA9kFgICAQ9kFgQCAw8QDxYGHg5EYXRhVmFsdWVGaWVsZAUOY29kX2NlbWVudGVyaW8eDURhdGFUZXh0RmllbGQFDmRzY19jZW1lbnRlcmlvHgtfIURhdGFCb3VuZGdkEBUCDUNGIC0gSFVBQ0hJUEEKQ0YgLSBOT1JURRUCAUgBThQrAwJnZ2RkAgcPPCsADQBkGAEFCGd2X3NlZGVzD2dk6jgT6KvN9Nvo5HRJ5K5gT8LYJXY=" type="hidden">
			</div>

			<script type="text/javascript">
//<![CDATA[
var theForm = document.forms['formDia'];
if (!theForm) {
	theForm = document.formDia;
}
function __doPostBack(eventTarget, eventArgument) {
	if (!theForm.onsubmit || (theForm.onsubmit() != false)) {
		theForm.__EVENTTARGET.value = eventTarget;
		theForm.__EVENTARGUMENT.value = eventArgument;
		theForm.submit();
	}
}
//]]>
</script>
<br><br><br><br><br>
	<span id="spryselect1">
		<select name="cbo_sedes" onchange="javascript:setTimeout('__doPostBack(\'cbo_sedes\',\'\')', 0)" id="cbo_sedes">
			<option value="H">ZONA VIP</option>
			<option value="N">ZONA ECONOMICA</option>
			<option value="N">MAUSOLEOS</option>
		</select>
	</span>
	<span>
		<input name="enviar" value="Buscar" id="enviar" type="submit">
	</span>
</div>
<div>
	</div>
<div id="dia-tabla" class="mi_ocu" style="position: absolute;right: 10%; opacity: 1; width: 580px;">
	<div>
	</div>
	<table id="tabla_de_prueba" style="width:100%;">
		<tbody><tr>
			<th>HORA DEL SERVICIO</th>
			<th>DATOS DEL BENEFICIARIO</th>
			<th>PLATAFORMA Y CODIGO DE ESPACIO</th>
		</tr>
		<tr>
			<td colspan="3" align="center">No se Encontraron Datos </td>
		</tr>
	</tbody></table>

</div>

</form>