%section
  %div
    %h2 INGRESAR DATOS PARA LA BUSQUEDA DEL FALLECIDO
    .walker-form
      %div
        %label Buscar por Fecha de fallecimiento
        %input{type: 'date'}
      %div
        %label Buscar por DNI
        %input{type: 'text'}
      %div
        %label Sector
        %select
          %option MAUSOLEO
          %option VIP
          %option ECONOMICA
      .button-group
        %button.btn.btn-reverse BUSCAR
%section
  %h2 OBITUARIO
  .obituario
    %table
      %thead
        %tr
          %th Datos del beneficiario
          %th Sector
      %tbody
        %tr
          %td Bla bla
          %td Sector 1
        %tr
          %td Bla bla
          %td Sector 1
        %tr
          %td Bla bla
          %td Sector 1
        %tr
          %td Bla bla
          %td Sector 1
