<div id='imagen'>
  <div id='info'>
  <p id=headline>
    Como Camposanto Católico cumplimos con la misión de llevar apoyo espiritual y humano a las familias que afrontan la pérdida de un ser querido de forma inesperada. Ponemos a su disposición diversos planes de necesidad inmediata brindándole una atención personalizada, adecuada y oportuna. Nos comprometemos con Usted y su familia a ofrecerle la seguridad y tranquilidad que requieren para cumplir su promesa de unión familiar.
  </p>
  </div>
</div>