%section
  %h2 OBITUARIO
  .obituario
    %table
      %thead
        %tr
          %th Datos del beneficiario
          %th Sector
      %tbody
        %tr
          %td Bla bla
          %td Sector 1
        %tr
          %td Bla bla
          %td Sector 1
        %tr
          %td Bla bla
          %td Sector 1
        %tr
          %td Bla bla
          %td Sector 1
