%section
  %div
    %h2 REGISTRO DEL FALLECIDO
    .walker-form
      %div
        %label Buscar por fecha
        %input{type: 'date'}
      %div
      %div
        %label Buscar por DNI
        %input{type: 'text'}
      %div
        %label Sector
        %select
          %option Sector Mausoleo
          %option Sector VIP
          %option Sector Economico
          %option Sector Economico
      .button-group
        %button.btn.btn-reverse BUSCAR
%section
  %h2 OBITUARIO DEL DIA
  .obituario
    %table
      %thead
        %tr
          %th Datos del beneficiario
          %th Sector
      %tbody
        %tr
          %td No se encontraron Datos
          %td Sector 1
        %tr
          %td Bla bla
          %td Sector 1
        %tr
          %td Bla bla
          %td Sector 1
        %tr
          %td Bla bla
          %td Sector 1
          
