%p#notice= notice
%section.search.max-container
  = form_for_filterrific @filterrific do |f|
    = f.text_field( :search_query, class: 'filterrific-periodically-observed', placeholder: 'Buscar por nombre o apellido' )
  = render(partial: 'people/list', locals: { people: @people })
