<body>
  <h1>Hola <%= @user.nombres %></h1>
  <h3>Este fue su mensaje: </h3>
  <p>
    <%= @user.mensaje %>
  </p>
  <p>Le volveremos a enviar un correo cuando tengamos sus dudas resueltas.</p>
</body>
