<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hola <%= @user.nombres %></h1>
    <h3>Este fue tu mensaje: </h3>
    <p>
      <%= @user.mensaje %>
    </p>
  </body>
</html>
