@media screen and (min-width: 481px) {
  iframe {
    width: 460px;
    height: 260px;
  }
  .medium-container { width: 95%; }
}
@media screen and (min-width: 769px) {
  header {
    nav {
      display: block;
      width: auto;
      .nav {
        display: flex;
        position: relative;
      }
    }
    .fa { display: none; }
    .settings {
      position: absolute;
      top: 65px;
      width: 200px;
      text-align: right;
      right: 0;
      background: $primaryColor;
      li { border-radius: 0; }
    }
  }
  iframe {
    width: 640px;
    height: 360px;
  }
  .necesity-type, .aditional-info { justify-content: space-around; }
  .content { width: 40%; }
  .medium-container { width: 640px; }
  .slick-slider { margin: auto auto auto 0; }
  .slick-prev { left: 0; }
  .slick-list { margin-left: 50px; }
  .show-data {
    display: flex;
    h3 { flex: 1; }
  }
  .data { max-width: 600px; }
}
@media screen and (min-width: 850px) {
  .content { width: 31%; }
}
@media screen and (min-width: 1260px) {
  .max-container { width: 1200px; }
}
