@media screen and (min-width: 481px) {
  iframe {
    width: 480px;
    height: 270px;
  }
}
@media screen and (min-width: 769px) {
  header {
    .max-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    nav .nav {
      display: flex;
      position: relative;
    }
    .settings {
      position: absolute;
      top: 71px;
      width: 200px;
      text-align: right;
      right: 0;
      background: $black;
      li { border-radius: 0; }
    }
  }
  .slider {
    width: 640px;
  }
  iframe {
    width: 640px;
    height: 360px;
  }
}
@media screen and (min-width: 850px) {
  width: 853;
  height: 480;
}
@media screen and (min-width: 1260px) {
  .max-container { width: 1200px; }
}
