@media screen and (min-width: 481px) {
  iframe {
    width: 480px;
    height: 270px;
  }
  .medium-container { width: 90%; }
}
@media screen and (min-width: 769px) {
  header {
    nav {
      width: auto;
      .nav {
        display: flex;
        position: relative;
      }
    }
    .fa { display: none; }
    .settings {
      position: absolute;
      top: 71px;
      width: 200px;
      text-align: right;
      right: 0;
      background: $black;
      li { border-radius: 0; }
    }
  }
  .slider {
    width: 640px;
  }
  iframe {
    width: 640px;
    height: 360px;
  }
  .necesity-type, .aditional-info { justify-content: space-around; }
  .content { width: 40%; }
}
@media screen and (min-width: 850px) {
  .content { width: 31%; }
}
@media screen and (min-width: 1260px) {
  .max-container { width: 1200px; }
}
