html { height: 100%; }
body { background: #f6f6f6; }
a {
  text-decoration: none;
  color: $secondaryColor;
}
iframe {
  display: block;
  margin: 0 auto;
  width: 300px;
  height: 169px;
}
section {
  padding: 20px 0;
}
ul {
  list-style: none;
  padding: 0;
}
section h2 {
  color: $darkPrimaryColor;
  margin-top: 0;
  text-align: center;
}
// HEADER STYLES
header {
  background: $black;
  padding: 15px 0;
  .max-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .fa {
    cursor: pointer;
    color: #fff;
    font-size: xx-large;
  }
  nav {
    width: 100%;
    display: none;
  }
  .logo img { height: 60px; }
  li {
    color: #fff;
    padding: 1rem;
    border-radius: 5px;
    cursor: pointer;
    a { color: inherit; }
    &:hover {
      background: $primaryColor;
    }
  }
  .settings { display: none; }
}
.background {
  height: 50vh;
  background-image: image-url("background.jpg");
  background-size: cover;
}
.max-container, .medium-container {
  margin: 0 auto;
  width: 90%;
}
.alert {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert-message {
  padding: 0 2.5%;
  p {
    line-height: 35px;
    i {
      float: right;
      line-height: inherit;
      cursor: pointer;
    }
  }
}
.notice {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.flex-container {
  align-items: center;
  display: flex;
}
.center-items { justify-content: center; }
.btn {
  background-color: $primaryColor;
  border-radius: 2px;
  border: none;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  color: #fff;
  cursor: pointer;
  height: 36px;
  line-height: 36px;
  outline: 0;
  padding: 0 2rem;
  text-transform: uppercase;
  &:hover { background-color: $darkPrimaryColor; }
}
.btn-block {
  display: block;
  width: 100%;
}
.btn-reverse {
  background-color: #fff;
  color: $black;
  border: 1px solid $darkPrimaryColor;
  &:hover {
    color: #fff;
    background-color: $darkPrimaryColor;
  }
}
.slider {
  h3 { color: $primaryColor; }
  text-align: center;
}
.medium-container {
  width: 250px;
}
.card {
  background: white;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.necesity-type, .aditional-info {
  display: flex;
  flex-wrap: wrap;
  h2 {
    color: $darkPrimaryColor;
    margin-top: 0;
    text-align: center;
    width: 100%;
  }
}
.content {
  margin: 0px;
  padding:0px;
  color:0px;
  font-family: helvetica;


    h3 {
    padding: 10px;
    text-align: center;
    background: $primaryColor;
    color: #fff;
  }
  p, ul { padding: 10px; }
  margin-bottom: 20px;
}
.contact {
  h2 {
    margin-top: 0;
    text-align: center;
    color: $darkPrimaryColor;
  }
}
.contact-form, .walker-form {
  div {
    display: flex;
    width: 90%;
    max-width: 480px;
    justify-content: space-between;
    margin: 0 auto;
    input, textarea {
      width: 50%;
      padding: 2px;
      border: 1px solid black;
    }
    input { margin-bottom: 20px; }
  }
  .btn {
    display: block;
    margin: 20px auto 0;
  }
}
.obituario {
  table {
    width: 90%;
    max-width: 480px;
    margin: 0 auto;
  }
  th {
    color: $primaryColor;
    text-decoration: underline;
    text-decoration-color: $primaryColor;
    text-align: left;
  }
}
.no-margin { margin: 0; }
.no-padding { padding: 0;}

div #imagen
{
  width:800px;
  height:250px;
  margin: 30px;
  background-image: url(../imagen/logo-header.png); 

}
div#info
{
  position: absolute;
  width:800px;
  height:250px;
  overflow: hidden;
  background-color: silver;
  opacity: 0;
  -webkit-transition:opacity0.2s;
  -moz-transition:opacity0.2s;
}

div#imagen:hover 
div#info
{
  opacity: 1;
}
p#headline
{
  width: 600px;
  position: absolute;
  font-size: 21px;
  margin-top: 20px; 
  margin-left: 70px;
   -webkit-transition:margin 0.2s;
  -moz-transition:margin 0.2s;

}
div#imagen:hover p#headline
{
  width: 600px;
  margin-left: 70px;
}