html { height: 100%; }
body { background: #f6f6f6; }
a {
  text-decoration: none;
  color: $secondaryColor;
}
ul {
  list-style: none;
}
// HEADER STYLES
header {
  background: $black;
  padding: 15px 0;
  .logo img { height: 60px; }
  li {
    color: #fff;
    padding: 1rem;
    border-radius: 5px;
    &:hover {
      background: $primaryColor;
    }
  }
  .settings { display: none; }

}
.max-container {
  margin: 0 auto;
  width: 90%;
}
.alert {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert-message {
  padding: 0 2.5%;
  p {
    line-height: 35px;
    i {
      float: right;
      line-height: inherit;
      cursor: pointer;
    }
  }
}
.notice {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.flex-container {
  align-items: center;
  display: flex;
}
.center-items { justify-content: center; }
.btn {
  background-color: $primaryColor;
  border-radius: 2px;
  border: none;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  color: #fff;
  cursor: pointer;
  height: 36px;
  line-height: 36px;
  outline: 0;
  padding: 0 2rem;
  text-transform: uppercase;
  &:hover { background-color: $darkPrimaryColor; }
}
.btn-block {
  display: block;
  width: 100%;
}
.no-margin { margin: 0; }
.no-padding { padding: 0; }



$items: 4;
$animation-time: 4s;
$transition-time: .5s;
$scale: 20%;

$total-time: ($animation-time * $items);
$scale-base-1: (1 + $scale / 100%);


.NUBE12
{

  position: absolute;
  right: 50%;
}