%p
  Hola #{@resource.email}!
%p Alguien ha solicitado un link para cambiar tu contraseña, puedes hacerlo a través del siguiente link abajo
%p= link_to 'Cambiar mi contraseña', edit_password_url(@resource, reset_password_token: @token)
%p Si no solicitaste este cambio, ignora este correo por favor.
%p Tu contraseña no cambiará hasta que accedas al link de arriba y crees una nueva contraseña.
