%header
  .max-container.flex-container
    = link_to root_path do
      .logo-container= image_tag 'logo.png'
    %i.fa.fa-bars{"aria-hidden" => "true"}
    %nav
      %ul
        %li INICIO
        %li BÚSQUEDA
        %li INFORMES
        %li OBITUARIO
        - if admin_signed_in?
          %li.account
            CUENTA
            %i.fa.fa-chevron-down
          %ul.settings
            = link_to change_password_path do
              %li Cambiar contraseña
            = link_to destroy_admin_session_path, method: :delete do
              %li Cerrar sesión
