%header
  .max-container
    = link_to root_path do
      .logo= image_tag 'logo-white.png'
    %i.fa.fa-bars
    %nav
      %ul.no-margin.no-padding.nav
        =link_to root_path do
          %li INICIO
        =link_to people_path do
          %li BÚSQUEDA
        =link_to contact_path do
          %li CONTÁCTENOS
        - if admin_signed_in?
          %li.account CUENTA
          %ul.settings.no-padding
            = link_to change_password_path do
              %li Cambiar contraseña
            = link_to destroy_admin_session_path, method: :delete do
              %li Cerrar sesión
