%header
  .max-container
    .logo= image_tag 'logo-header.png'
    %i.fa.fa-bars
    %nav
      %ul.no-margin.no-padding.nav
        %li=link_to 'INICIO', root_path
        %li=link_to 'BÚSQUEDA', busqueda_path
        %li=link_to 'INFORMES', informes_path
        %li=link_to 'OBITUARIO', obituario_path
        - if admin_signed_in?
          %li.account CUENTA
          %ul.settings.no-padding
            = link_to change_password_path do
              %li Cambiar contraseña
            = link_to destroy_admin_session_path, method: :delete do
              %li Cerrar sesión
