%header
  .max-container.flex-container
    .logo-container
      = image_tag 'logo.png'
    %i.fa.fa-bars{"aria-hidden" => "true"}
    %nav
      %ul
        %li INICIO
        %li BÚSQUEDA
        %li OBITUARIO
        %li otro lista anidad
